.catalogo{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    gap: 16px;
    /* justify-content: center; */
    text-align: center;
    padding-top: 90px;
}

.catalogo img{
    height: 234px;
    width: 248px;
}

.card{
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.textCatalogo{
    display: flex;
    color: var(--text-color) !important;
    justify-content: center;
    padding-top: 20%;
}

.catalogo .card-text .icons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.catalogo .card-text .tipo{
    margin-top: 10px;
    text-align: center;
}

.catalogo .card-text .precio{
    margin-top: 10px;
    text-align: center;
}

.catalogo i{
    color: var(--main-color) !important;
}

.card-footer span{
    color: var(--main-color) !important;
}