.containerApp{
    padding-top: 90px;

}

.containerAppCatalogo{
    display: flex;
    justify-content: center;
}

.containerAppBotonera{
    display: flex;
    justify-content: center;
}

.botonera{
    width: 75%;
}

