.containerApp-misPropiedades{
    display: flex;
    justify-content: center;
}

.container-misPropiedades{
    width: 75%;
    max-width: 100%;
}

.catalogo-misPropiedades{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    gap: 16px;
    text-align: center;
    justify-content: center;
    /* padding-top: 90px; */
}

.catalogo-misPropiedades img{
    height: 234px;
    width: 298px;
}

.card{
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.textCatalogo-misPropiedades{
    display: flex;
    color: var(--text-color) !important;
    justify-content: center;
    padding-top: 20%;
}

.catalogo-misPropiedades .card-text .icons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.catalogo-misPropiedades .card-text .estado{
    margin-top: 10px;
    text-align: center;
}

.catalogo-misPropiedades .card-text .autorizado{
    margin-top: 10px;
    text-align: center;
}

.catalogo-misPropiedades i{
    color: var(--main-color) !important;
}

.card-footer span{
    color: var(--main-color) !important;
}